@model User
<link rel="stylesheet" href="~/css/navegacao.css" asp-append-version="true" />
<div class="conteudo-navegacao">
    <div class="img-user">
        @if (@Model.FotoUrl != null)
        {
            <img src="~/Imagens/@Model.FotoUrl" class="border rounded-circle"  width="100">
        } 
        else
        {
            <img src="~/img/usuario.jpg"  class="border rounded-circle" width="100">
        } 
        <span class="mt-4 fw-bold">Bem-vindo @Model.UserName !!</span>
    </div>  
    <ul class="list-navegacao">
        <li class="item-navegacao">
            <a asp-controller="Painel" asp-action="Index"  class="link-navegacao">
                <i class='bx bxs-dog'></i>
                <span class="text-navegacao">Pets</span>
            </a>
        </li>
        <li class="item-navegacao">
            <a asp-controller="Painel" asp-action="Pessoas" class="link-navegacao">
                <i class='bx bx-user-pin'></i>
                <span class="text-navegacao">Pessoas</span>
            </a>
        </li>
        <li class="item-navegacao">
            <a asp-controller="Painel" asp-action="Objetos" class="link-navegacao" >
                <i class='bx bx-mobile-alt' ></i>
                <span class="text-navegacao">Objetos</span>
            </a>
        </li>
        <li class="item-navegacao">
            <a asp-controller="Painel" asp-action="Config"  class="link-navegacao">
                <i class='bx bx-cog'></i>
                <span class="text-navegacao">Config</span>
            </a>
        </li>
    </ul>
    <form class="btn-logout" asp-action="Logout" asp-controller="User" method="POST">
        <input class="bt" type="submit" value="Logout">                            
    </form>
</div>
