@model User


<div class="container">
    <div class="row">
        <div class="col-md-12 d-md-flex flex-column justify-content-center align-items-center">
            <div class="card">
                
            </div>
        </div>
    </div>
</div>