@model PainelViewModel

<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
<div class="container-conteudo">
    <div class="row-conteudo">
        <div class="d-grid gap-2 mb-4">
            <a asp-action="CadastrarPet" asp-controller="Painel" class="btn btn-outline-secondary">ADICIONAR&nbsp;&nbsp;&nbsp;<i class="ml-3 bi bi-plus-circle"></i></a>
        </div
        <div class="conteudo">
             @{
                if(@Model.Pets.ToList().Count > 0)
                {
                   
                            <div class="col-md-4">
                                    <div class="alert alert-primary" role="alert">
                                        <i class="bi bi-shield-shaded"></i> Total de Pets: <strong>@Model.Pets.ToList().Count</strong> 
                                    </div>
                            </div>
                            <div class="col-md-4">
                                @if(@Model.Pets.Where(c => c.Perdido == false).ToList().Count > 0)
                                {
                                    <div class="alert alert-success" role="alert">
                                        <i class="bi bi-shield-check"></i> Total de Pets Ok: <strong>@Model.Pets.Where(c => c.Perdido == false).ToList().Count </strong>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-success" role="alert">
                                        <i class="bi bi-shield-check"></i> Total de Pets Ok: <strong>0</strong> 
                                    </div>
                                }
                            </div>
                            <div class="col-md-4">
                                @if(@Model.Pets.Where(c => c.Perdido == true).ToList().Count > 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <i class="bi bi-shield-x"></i> Total de Pets Perdidos: <strong>@Model.Pets.Where(c => c.Perdido == true).ToList().Count</strong>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <i class="bi bi-shield-x"></i> Total de Pets Perdidos: <strong>0</strong>
                                    </div>
                                }
                            </div>
                   
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Você ainda não tem nenhum Pet adicionado !!
                    </div>
                }
            }
        </div>
        <div class="navegacao">
            <partial name="_Navegacao" ></partial>
        </div>
    </div>
</div>

