<div class="container-conteudo">
    <div class="row-conteudo">
        <div class="conteudo">
            <div class="ds">
                <img class="img-ds" src="~/img/ds.gif" alt="">
            </div>
        </div>
        <div class="navegacao">
            <partial name="_Navegacao" ></partial>
        </div>
    </div>
</div>
