@{
  ViewData["Title"] = "Home";
}


<div class="container">
  <div class="row d-flex justify-content-center align-items-center container-home">
    <div class="col-md-6">
      <h1>Bem vindo</h1>
      <div style="width: 100px; height: 4px; background-color: #27b88d;" class="mb-2"></div>
      <p>Olá, seja bem-vindo ao nosso site. Estamos contentes em recebê-lo aqui. Temos como objetivo apresentar uma solução ou redução ao grande número de desaparecimento de pets e pessoas, trazendo um impacto positivo a nossa sociedade.
      </p>
      <button class="bt " style="width: 150px; height: 40px;">CADASTRE-SE</button>
    </div>
    <div class="col-md-6">
      <img src="~/img/home_dog.png" alt="" class="img-fluid">
    </div>
  </div>
</div>

<div class="container mt-4" id="projeto">
  <div class="row container-home">
    <div class="col-md-6 d-flex justify-content-center flex-column p-5" style="">
      <h1>Sobre o Projeto</h1>
      <p>
        Com a evolução tecnológica, pensando na contribuição e impacto positivo na sociedade, foi desenvolvido um sistema gerenciador de pets e pessoas perdidas, possibilitando gerar um QR Code, que ao ser escaneado traz informações do responsável.
      </p>
    </div>
    <div class="col-md-6  d-flex justify-content-center align-items-center flex-column" style="">
      <img src="~/img/logoProjeto.png" class="img-fluid">
    </div>
  </div>
</div>



<div class="container">
  <div class="row mb-5 container-home">
    <div class="col-md-6 d-flex justify-content-center align-items-center flex-column" style="">
      <img src="~/img/painel.PNG" alt="" class="img-fluid" style="-webkit-box-shadow: -30px -20px 0px 0px #27b88d; 
box-shadow: -30px -20px 0px 0px #27b88d;">
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column p-5" style="">
      <h1>painel de controle</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, doloremque neque laudantium quibusdam consequuntur officiis placeat et accusantium ipsum dolore quis veritatis cumque, nobis maiores error corrupti vero. Doloremque, quia?</p>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row container-home">
    <div class="col-md-6 d-flex justify-content-center flex-column p-5" style="">
      <h1>Visualize seus registros.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, doloremque neque laudantium quibusdam consequuntur officiis placeat et accusantium ipsum dolore quis veritatis cumque, nobis maiores error corrupti vero. Doloremque, quia?</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center flex-column" style="">
      <img src="~/img/visualizar.PNG" alt="" class="img-fluid order-md-1" style="-webkit-box-shadow: 30px -20px 0px 0px #ffb32b; 
box-shadow: 30px -20px 0px 0px #ffb32b;">
    </div>
  </div>
</div>


<div class="container">
  <div class="row container-home">
    <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
      <img src="~/img/leitura.PNG" height="500px" width="300px" alt="" style="-webkit-box-shadow: -30px -20px 0px 0px #27b88d; 
box-shadow: -30px -20px 0px 0px #27b88d;">
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column p-5" style="">
      <h1>projeto ti achei</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, doloremque neque laudantium quibusdam consequuntur officiis placeat et accusantium ipsum dolore quis veritatis cumque, nobis maiores error corrupti vero. Doloremque, quia?</p>
    </div>
  </div>
</div>








<div class="container-fluid" id="sobre">
  <div class="row p-5 bg-dark text-white">
    <div class="col-md-6 d-flex justify-content-center">
      <img src="~/img/logoEquipeBranco.png" alt="">
    </div>
    <div class="col-md-6 justify-content-center align-items-center">
      <h2>SObre nós</h2>
      <p class="fs-6">A Tech Work é uma nova empresa criada com intuito de ajudar pessoas com dificuldades em navegar pela web, desenvolvida para o trabalho de TCC da Etec Adolpho Berezin.</p>
    </div>
  </div>
</div>

<div class="container ">
    <div class="row g-2 mt-5 d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="p-3 ">
          <h2>Missão</h2>
          <div style="width: 100px; height: 4px; background-color: yellow;" class="mb-2"></div>
          <p class="fs-4">Fornecer uma solução eficaz promovendo a satisfação do cliente em relação à nossa empresa e ao
            serviço prestado, criando fidelidade entre usuário e a empresa garantindo assim uma confiabilidade no produto.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 ">
          <h2>Visão</h2>
          <div style="width: 100px; height: 4px; background-color: blue;" class="mb-2"></div>
          <p class="fs-4" style="padding-bottom: 70px;">Ser reconhecida em aplicar soluções eficientes aos problemas corriqueiros e diários em navegação
            e uso da internet mundialmente.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 ">
          <h2>Valores</h2>
          <div style="width: 100px; height: 4px; background-color:  gray;" class="mb-2"></div>
          <p class="fs-4">Contribui com a realidade do mundo atual, sendo transparente e ético ao público-alvo, tendo
            eficiência, segurança, integração de assistência, inovação, serviço de qualidade e comprometimento com o
            crescimento.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 d-flex justify-content-center">
          <img src="~/img/missao_visao.png" class="img-fluid" width="400px" height="400px">
        </div>
      </div>
    </div>
</div>


<div class="container">
  <div class="row g-3 container-home">
    <div class="col-md-12">
      <h2 class="text-center mt-5 mb-3">Equipe Tech Work</h2>
      <div style="width: 350px; height: 3px; background-color: #4c4c4c; margin: 0 auto;" class="mb-1"></div>
    </div>
    <div class="col-md-3">
      <div class="shadow-lg p-3 mb-5 rounded">
        <img src="~/img/arthur.jpeg" class="img-fluid border rounded" >
        <h3 class="p-1 mt-2">Arthur</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe odio doloremque magnam adipisci possimus
          excepturi ab. Aliquam minus, nisi voluptate magni nostrum natus eius pariatur doloribus ipsam, rerum expedita
          quidem?</p>
        <div class="contato">
          <a href="https://github.com/apex2801" class="fs-2">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/mwlite/in/arthur-p-882240214" class="fs-2">
            <i class="bi bi-linkedin text-primary text-opacity-75"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="shadow-lg p-3 mb-5 rounded">
        <img src="~/img/fabiano.jfif" class="img-fluid border rounded">
        <h3 class="p-1 mt-2">Fabiano</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe odio doloremque magnam adipisci possimus
          excepturi ab. Aliquam minus, nisi voluptate magni nostrum natus eius pariatur doloribus ipsam, rerum expedita
          quidem?</p>
        <div class="contato">
          <a href="https://github.com/BigFabiano" class="fs-2">
            <i class="bi bi-github"></i>
          </a>
          <a href="#" class="fs-2">
            <i class="bi bi-linkedin text-primary text-opacity-75"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="shadow-lg p-3 mb-5 rounded">
        <img src="~/img/nata.jfif" class="img-fluid border rounded">
        <h3 class="p-1 mt-2">Natã</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe odio doloremque magnam adipisci possimus
          excepturi ab. Aliquam minus, nisi voluptate magni nostrum natus eius pariatur doloribus ipsam, rerum expedita
          quidem?</p>
        <div class="contato">
          <a href="https://github.com/Nata-Santos" class="fs-2">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/nat%C3%A3-dos-santos-silva-7b2b0b195/" class="fs-2">
            <i class="bi bi-linkedin text-primary text-opacity-75"></i>
          </a>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="shadow-lg p-3 mb-5 rounded">
        <img src="~/img/Ricardo.jfif" class="img-fluid border rounded">
        <h3 class="p-1 mt-2">Ricardo</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe odio doloremque magnam adipisci possimus
          excepturi ab. Aliquam minus, nisi voluptate magni nostrum natus eius pariatur doloribus ipsam, rerum expedita
          quidem?</p>
        <div class="contato">
          <a href="https://github.com/RD-Ricardo" class="fs-2">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/ricardo-dias-a762011bb/" class="fs-2">
            <i class="bi bi-linkedin text-primary text-opacity-75"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> 

