  <div id="content" class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 align-self-center mt-3 mb-md-0 mb-4">
            <h1>Localizador QR Code</h1>
            <h4 class="mb-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing.
            </h4>
            <a
              href="#"
              class="btn btn-outline-dark d-md-inline-block d-block mb-md-0 mb-2"
              >Login</a
            >
            <a href="#" class="btn btn-dark d-md-inline-block d-block"
              >Cadastrar</a
            >
          </div>
          <div class="col-lg-8 align-self-center mt-5">
            <video
              src="~/img/projeto1.mp4"
              type="video/mp4"
              class="img-fluid"
              autoplay
              loop
            ></video>
          </div>
        </div>
      </div>

      <div class="container mt-4" class="block">
        <div class="row">
          <div class="col-md-6 align-self-center mt-5 order-md-1 order-2">
            <video
              src="~/img/ex1.mp4"
              type="video/mp4"
              class="img-fluid"
              autoplay
              loop
            ></video>
          </div>
          <div
            class="col-md-6 text-center align-self-center mt-3 mb-md-0 mb-4 order-md-2 order-1"
          >
            <h2>Tech Work</h2>
            <h4 class="subtitle">Grupo de Desenvolvedores.</h4>
            <p>
              Trabalhamos para uma melhor experiência do usuário
            </p>
            <a
              href="#"
              class="btn btn-dark d-md-inline-block d-block mb-md-0 mb-2"
              >Saiba Mais</a
            >
            <a href="#" class="btn btn-outline-dark d-md-inline-block d-block"
              >Contato</a
            >
          </div>
        </div>
      </div>
    </div>


    <!-- funcionalidades -->

    <div id="funcionalidades" class="block">
      <div class="container">
        <h2 class="text-center mt-5">Instruções</h2>
        <h4 class="subtitle text-center mb-4">Simples instruções ao usuário</h4>
        
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <a href="#" class="destaque">
              <div class="img-container mb-3">
                <img src="~/img/anexos.png" alt="Cartão de visita" class="img-fluid">
              </div>
              <h5>Anexos</h5>
              <p class="mb-0">No cadastro do pet ou pessoa, coloque seu telefone e informações adicionais</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <a href="#" class="destaque">
              <div class="img-container mb-3">
                <img src="~/img/cad.png" alt="Cartão de visita" class="img-fluid">
              </div>
              <h5>Cartão Visitas</h5>
              <p class="mb-0">Anexe suas redes sociais e fotos do pet ou pessoa, após isso sera gerado o QR Code </p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <a href="#" class="destaque">
              <div class="img-container mb-3">
                <img src="~/img/alterar.png" alt="Cartão de visita" class="img-fluid">
              </div>
              <h5>Alterações</h5>
              <p class="mb-0">Caso haja mudança de dados ou status, o usuário poderá fazer a alteração a qualquer momento</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <a href="#" class="destaque">
              <div class="img-container mb-3">
                <img src="~/img/qrcode.png" alt="Cartão de visita" class="img-fluid">
              </div>
              <h5>QR Code</h5>
              <p class="mb-0">Depois de gerado, o usuário pode baixa-lo em qualquer formato, ficará salvo em "QR Code gerado"</p>
            </a>
          </div>
        </div>
        
      </div>
    </div>
