  <div id="content">
        <div class="container" id="container-img">
            <div class="row">
                <div class="col-lg-8 align-self-center text-center mt-3">
                  <h1>Empresa</h1>
                  <h4>A Tech Work é uma nova empresa criada com intuito de ajudar pessoas com dificuldades em navegar pela web, desenvolvida para o trabalho de TCC da Etec Adolpho Berezin.</h4>
                  <a href="#" class="btn btn-outline-dark">Saiba Mais</a>
                  <a href="#" class="btn btn-dark">Contato</a>
                </div>
                <div class="col-lg-4 mt-5">
                  <div class="img-container mb-3">
                    <img src="~/img/graficos.svg" alt="Empresa" class="w-100 img-fluid"></img>
                  </div>
                </div>

            </div>
        </div>

        <div class="container" id="container-img">
            <div class="row">
                <div class="col-md-4 align-self-center mt-5 order-lg-1 order-2">
                  <div class="img-container mb-3">
                    <img src="~/img/Missão.svg" alt="Missão" class="w-100 img-fluid"></img>
                  </div>
                  </div>
                <div class="col-lg-8 align-self-center text-center mt-3 order-lg-2 order-1">
                  <h1>Missão</h1>
                  <h4>Fornecer uma solução eficaz promovendo a satisfação do cliente em relação à nossa empresa e ao serviço prestado, criando fidelidade entre usuário e a empresa garantindo assim uma confiabilidade no produto.</h4>
                  
                </div>            
            </div>
        </div>
        <div class="container" id="container-img">
            <div class="row">
                <div class="col-lg-8 align-self-center text-center mt-3">
                    <h1>Visão</h1>
                    <h4>Ser reconhecida em aplicar soluções eficientes aos problemas corriqueiros e diários em navegação e uso da internet mundialmente.</h4>
                    
                  </div> 
                <div class="col-md-4 mt-5">
                  <div class="img-container mb-3">
                    <img src="~/img/visão.svg" alt="visao" class="w-100 img-fluid"></img>
                  </div>
                  </div>
                           
            </div>
        </div>
        <div class="container" id="container-img">
            <div class="row">
                <div class="col-md-4 mt-5 order-lg-1 order-2">

                  <div class="img-container mb-3">
                    <img src="~/img/sobre.svg" alt="Valores" class="w-100 img-fluid"></img>
                  </div>
                  
                  </div>
                <div class="col-lg-8 align-self-center text-center mt-3 order-lg-2 order-1">
                  <h1>Valores</h1>
                  <h4>Contribui com a realidade do mundo atual, sendo transparente e ético ao público-alvo, tendo eficiência, segurança, integração de assistência, inovação, serviço de qualidade e comprometimento com o crescimento.</h4>
                  
                </div>            
            </div>
        </div>